:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --accent-color: #18a0fb;
  --primary-white-color: #ffffff;
}
/* Main text color color: #000000;*/
/* Secondary text color color: rgba(0, 0, 0, 0.8); */
/* Text/background color color: #FFFFFF; */
/* Secondary bg color background: #E5E5E5; */
/* Actionable items color: #18A0FB; */
body {
  color: var(--primary-text-color);
  color: rgba(0, 0, 0, 0.8);
  background-color: white;
  font-family: Montserrat, sans-serif;
}
.logo {
  color: var(--title-text-color);
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* Site navigation */
.site-nav a {
  color: var(--accent-color);
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--title-text-color);
}
.site-nav link.current {
  color: var(--title-text-color);
}
/* Section */
.hero {
  text-align: center;
}
.hero-title {
  outline: 2px solid red;
  color: var(--title-text-color);
  text-align: center;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 40px;
}
.section-title {
  outline: 2px solid red;
  color: var(--title-text-color);
  text-align: center;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 60px;
}
/* Features */
.features .title {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 24px;
}
.features p {
  margin-top: 0;
  margin-bottom: 32px;
}
/* Examples */
.works-list .title {
  color: var(--title-text-color);
}
/* Button */
.button {
  display: inline-block;
  border: 1px solid transparent;
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
  border-radius: 6px;
  min-width: 130px;
  padding: 11px 34px;
}
.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  text-decoration: none;
}
.button.secondary {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  text-decoration: none;
  border: 1px solid var(--accent-color);
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  outline: 2px solid red;
}
.header {
  background-color: yellow;
}
