:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --accent-color: #18A0FB;
  --primary-white-color: #FFFFFF;
}
/* Main text color color: #000000;*/
/* Secondary text color color: rgba(0, 0, 0, 0.8); */
/* Text/background color color: #FFFFFF; */
/* Secondary bg color background: #E5E5E5; */
/* Actionable items color: #18A0FB; */
.page {
  color: var(--primary-text-color);
  color: rgba(0, 0, 0, 0.8);
  background-color: white;
}
.logo {
  color: var(--title-text-color);
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.list {
  list-style: none;
}
/* Site navigation */
.site-nav a {
  color: var(--accent-color);
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--title-text-color);
}
.site-nav link.current {
    color: var(--title-text-color);
}
/* Section */
.hero-title {
  color: var(--title-text-color);
}
.section-title {
  color: var(--title-text-color);
}
/* Features */
.features .title {
  color: var(--title-text-color);
}
/* Examples */
.works-list .title {color: var(--title-text-color)}
/* Button */
.button {
    color: var(--title-text-color);
    background-color: var(--primary-white-color);}
.button.primary {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}
.button.secondary {
    color: var(--accent-color);
    background-color: var(--primary-white-color);
}