/* Main text color color: #000000;*/
/* Secondary text color color: rgba(0, 0, 0, 0.8); */
/* Text/background color color: #FFFFFF; */
/* Secondary bg color background: #E5E5E5; */
/* Actionable items color: #18A0FB; */
.page {
    color: rgba(0, 0, 0, 0.8); background-color: white;
}
.logo {
    color: #18A0FB;}
.logo:hover, .logo:focus {color: black}
.list {
    list-style: none;}
    /* Site navigation */
.site-nav a {
    color: #18A0FB;}
.site-nav a:hover, .site-nav a:focus {color: #000;}
/* Section */
.hero-title {color:black;}
.section-title {color: black;}
/* Features */
.features .title {color: black;}
.features .link {color: #18A0FB;}

